.skeleton-card {
  width: 100%;
  max-width: 300px;
  height: 350px;
  min-width: 300px;
  min-height: 150px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
  overflow: hidden;
  position: relative;
  margin: 0;
  flex-shrink: 0;

  &__image {
    width: 100%;
    margin: 0;
  }

  &__title {
    margin-top: 15px;
  }
}
