.playlist_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 20px 60px;
    max-width: 2000px;
    margin: 0 auto;
    min-height: 100vh;
}