.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup_box {
  background: white;
  border-radius: 16px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: popupFadeIn 0.3s ease;
}
.popup_error{
    color:red;
}
.popup_input {
  width: 100%;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.popup_buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .save_btn {
    padding: 0.5rem 1.5rem;
  }

  .cancel_btn {
    padding: 0.5rem 1.5rem;
  }
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}