.album_tracks_list {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    text-align: left;

    &_title {
        font-size: 32px;
        font-weight: 200;
        margin-bottom: 16px;
    }

    &_songs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        list-style-position: inside; 
        padding: 0;
        margin: 0;
        font-size: 28px;

        .album_tracks_list_item {
            padding: 8px 0;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                font-size: 28px;
                font-weight: 400;
                flex: 1;
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }

            .add_to_playlist_button {
                height: 40px;
                width: 40px;
                margin-left: 16px;
            }
        }
    }

    &_empty {
        font-size: 18px;
        color: var(--medium-blue);
        text-align: center;
        margin-top: 20px;
    }
}