.results_page_container {
  padding: 180px 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results_page_title{
    font-size: 48px;
}

.results_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 100px; 
  margin-top: 20px;
}
